.cadastro-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cadastro-item-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.cadastro-item-title {
  margin-left: 1rem;
}