.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10rem;
}

.home-title {
  margin-left: 1rem;
}